In [15]:
import os
import shutil

In [16]:
source=r"C:\Users\Admin\Downloads\kaggle.json"

In [17]:
source = os.path.expanduser(r"~/Downloads/kaggle.json")

In [20]:
from kaggle.api.kaggle_api_extended import KaggleApi

api = KaggleApi()
api.authenticate()

# Download and unzip directly into current folder
api.dataset_download_files(
    "bulent1025/customer-shopping-behavior",
    path=".",   # current folder
    unzip=True
)

Dataset URL: https://www.kaggle.com/datasets/bulent1025/customer-shopping-behavior

In [23]:
import os

os.environ['KAGGLE_USERNAME'] = "deepakkumar35"
os.environ['KAGGLE_KEY'] = "3d6296f40940c5f1d6522d0b90ad181d"

In [24]:
from kaggle.api.kaggle_api_extended import KaggleApi

# Initialize and authenticate
api = KaggleApi()
api.authenticate()

In [25]:
# Download and unzip into current folder
api.dataset_download_files(
    "bulent1025/customer-shopping-behavior",  # dataset slug
    path=".",     # download to current folder
    unzip=True    # automatically unzip
)

Dataset URL: https://www.kaggle.com/datasets/bulent1025/customer-shopping-behavior

In [26]:
import os

print(os.listdir("."))

['.ipynb_checkpoints', 'customer_shopping_behavior.csv', 'Untitled.ipynb']

In [28]:
import pandas as pd

# Replace with the actual filename from the folder
df = pd.read_csv("customer_shopping_behavior.csv")
print(df.head())  # preview first 5 rows

   Customer ID  Age Gender Item Purchased  Category  Purchase Amount (USD)  \
0            1   55   Male         Blouse  Clothing                     53
1            2   19   Male        Sweater  Clothing                     64
2            3   50   Male          Jeans  Clothing                     73
3            4   21   Male        Sandals  Footwear                     90
4            5   45   Male         Blouse  Clothing                     49

        Location Size      Color  Season  Review Rating Subscription Status  \
0       Kentucky    L       Gray  Winter            3.1                 Yes
1          Maine    L     Maroon  Winter            3.1                 Yes
2  Massachusetts    S     Maroon  Spring            3.1                 Yes
3   Rhode Island    M     Maroon  Spring            3.5                 Yes
4         Oregon    M  Turquoise  Spring            2.7                 Yes

   Shipping Type Discount Applied Promo Code Used  Previous Purchases  \
0        Express              Yes             Yes                  14
1        Express              Yes             Yes                   2
2  Free Shipping              Yes             Yes                  23
3   Next Day Air              Yes             Yes                  49
4  Free Shipping              Yes             Yes                  31

  Payment Method Frequency of Purchases
0          Venmo            Fortnightly
1           Cash            Fortnightly
2    Credit Card                 Weekly
3         PayPal                 Weekly
4         PayPal               Annually

In [29]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 3900 entries, 0 to 3899
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Customer ID             3900 non-null   int64
 1   Age                     3900 non-null   int64
 2   Gender                  3900 non-null   str
 3   Item Purchased          3900 non-null   str
 4   Category                3900 non-null   str
 5   Purchase Amount (USD)   3900 non-null   int64
 6   Location                3900 non-null   str
 7   Size                    3900 non-null   str
 8   Color                   3900 non-null   str
 9   Season                  3900 non-null   str
 10  Review Rating           3863 non-null   float64
 11  Subscription Status     3900 non-null   str
 12  Shipping Type           3900 non-null   str
 13  Discount Applied        3900 non-null   str
 14  Promo Code Used         3900 non-null   str
 15  Previous Purchases      3900 non-null   int64
 16  Payment Method          3900 non-null   str
 17  Frequency of Purchases  3900 non-null   str
dtypes: float64(1), int64(4), str(13)
memory usage: 548.6 KB

In [33]:
df.describe()

,Customer ID,Age,Purchase Amount (USD),Review Rating,Previous Purchases
count,3900.000000,3900.000000,3900.000000,3863.000000,3900.000000
mean,1950.500000,44.068462,59.764359,3.750065,25.351538
std,1125.977353,15.207589,23.685392,0.716983,14.447125
min,1.000000,18.000000,20.000000,2.500000,1.000000
25%,975.750000,31.000000,39.000000,3.100000,13.000000
50%,1950.500000,44.000000,60.000000,3.800000,25.000000
75%,2925.250000,57.000000,81.000000,4.400000,38.000000
max,3900.000000,70.000000,100.000000,5.000000,50.000000

In [34]:
df.isnull().sum()

Customer ID                0
Age                        0
Gender                     0
Item Purchased             0
Category                   0
Purchase Amount (USD)      0
Location                   0
Size                       0
Color                      0
Season                     0
Review Rating             37
Subscription Status        0
Shipping Type              0
Discount Applied           0
Promo Code Used            0
Previous Purchases         0
Payment Method             0
Frequency of Purchases     0
dtype: int64

In [40]:
df['Review Rating'] = df.groupby('Category')['Review Rating'].transform(
    lambda x: x.fillna(x.median())
)

In [41]:
df.isnull().sum()

Customer ID               0
Age                       0
Gender                    0
Item Purchased            0
Category                  0
Purchase Amount (USD)     0
Location                  0
Size                      0
Color                     0
Season                    0
Review Rating             0
Subscription Status       0
Shipping Type             0
Discount Applied          0
Promo Code Used           0
Previous Purchases        0
Payment Method            0
Frequency of Purchases    0
dtype: int64

In [47]:
# Clean column names: lowercase + replace spaces with underscores
df.columns = df.columns.str.lower().str.replace(' ', '_')
df=df.rename(columns={'purchase_amount_(usd)':'purchase_amount'})

In [48]:
df.isnull().sum()

customer_id               0
age                       0
gender                    0
item_purchased            0
category                  0
purchase_amount           0
location                  0
size                      0
color                     0
season                    0
review_rating             0
subscription_status       0
shipping_type             0
discount_applied          0
promo_code_used           0
previous_purchases        0
payment_method            0
frequency_of_purchases    0
dtype: int64

In [49]:
df.columns

Index(['customer_id', 'age', 'gender', 'item_purchased', 'category',
       'purchase_amount', 'location', 'size', 'color', 'season',
       'review_rating', 'subscription_status', 'shipping_type',
       'discount_applied', 'promo_code_used', 'previous_purchases',
       'payment_method', 'frequency_of_purchases'],
      dtype='str')

In [51]:
import pandas as pd

labels = ['Young Adult', 'Adult', 'Middle Aged', 'Senior']

df['age_group'] = pd.qcut(df['age'], q=4, labels=labels)

In [54]:
df[['age', 'age_group']].head(20)

    age    age_group
0    55  Middle Aged
1    19  Young Adult
2    50  Middle Aged
3    21  Young Adult
4    45  Middle Aged
5    46  Middle Aged
6    63       Senior
7    27  Young Adult
8    26  Young Adult
9    57  Middle Aged
10   53  Middle Aged
11   30  Young Adult
12   61       Senior
13   65       Senior
14   64       Senior
15   64       Senior
16   25  Young Adult
17   53  Middle Aged
18   52  Middle Aged
19   66       Senior

In [55]:
df.columns

Index(['customer_id', 'age', 'gender', 'item_purchased', 'category',
       'purchase_amount', 'location', 'size', 'color', 'season',
       'review_rating', 'subscription_status', 'shipping_type',
       'discount_applied', 'promo_code_used', 'previous_purchases',
       'payment_method', 'frequency_of_purchases', 'age_group'],
      dtype='str')

In [59]:
freq_map = {'fortnightly':14,'weekly':7,'monthly':30,'quaterly':90,'bi_weekly':14,'annually':365,'every 3 months':90
           }

In [60]:
df['purchase_frequency_days']=df['frequency_of_purchases'].map(freq_map)

In [61]:
df[['purchase_frequency_days','frequency_of_purchases']].head(15)

    purchase_frequency_days frequency_of_purchases
0                       NaN            Fortnightly
1                       NaN            Fortnightly
2                       NaN                 Weekly
3                       NaN                 Weekly
4                       NaN               Annually
5                       NaN                 Weekly
6                       NaN              Quarterly
7                       NaN                 Weekly
8                       NaN               Annually
9                       NaN              Quarterly
10                      NaN              Bi-Weekly
11                      NaN            Fortnightly
12                      NaN            Fortnightly
13                      NaN                 Weekly
14                      NaN                 Weekly

In [62]:
df[['discount_applied','promo_code_used']].head(7)

  discount_applied promo_code_used
0              Yes             Yes
1              Yes             Yes
2              Yes             Yes
3              Yes             Yes
4              Yes             Yes
5              Yes             Yes
6              Yes             Yes

In [65]:
df['discount_allowed'] = df['promo_code_used'].map({'Yes': True, 'No': False})

In [66]:
df=df.drop('promo_code_used',axis=1)

In [68]:
df.columns

Index(['customer_id', 'age', 'gender', 'item_purchased', 'category',
       'purchase_amount', 'location', 'size', 'color', 'season',
       'review_rating', 'subscription_status', 'shipping_type',
       'discount_applied', 'previous_purchases', 'payment_method',
       'frequency_of_purchases', 'age_group', 'category_freq',
       'purchase_frequency_days', 'discount_allowed'],
      dtype='str')

In [54]:
df.columns = df.columns.str.strip().str.replace(' ', '_').str.replace('(', '').str.replace(')', '')

In [55]:
print(df.columns)

Index(['Customer_ID', 'Age', 'Gender', 'Item_Purchased', 'Category',
       'Purchase_Amount_USD', 'Location', 'Size', 'Color', 'Season',
       'Review_Rating', 'Subscription_Status', 'Shipping_Type',
       'Discount_Applied', 'Promo_Code_Used', 'Previous_Purchases',
       'Payment_Method', 'Frequency_of_Purchases'],
      dtype='str')

In [50]:
df.columns = df.columns.str.strip().str.replace(' ', '_')
print(df.columns)

Index(['Customer_ID', 'Age', 'Gender', 'Item_Purchased', 'Category',
       'Purchase_Amount_(USD)', 'Location', 'Size', 'Color', 'Season',
       'Review_Rating', 'Subscription_Status', 'Shipping_Type',
       'Discount_Applied', 'Promo_Code_Used', 'Previous_Purchases',
       'Payment_Method', 'Frequency_of_Purchases'],
      dtype='str')

In [51]:
cursor.execute("""
IF OBJECT_ID('dbo.Customer', 'U') IS NULL
CREATE TABLE dbo.Customer (
    Customer_ID INT PRIMARY KEY,
    Age INT,
    Gender NVARCHAR(10),
    Item_Purchased NVARCHAR(100),
    Category NVARCHAR(50),
    Purchase_Amount_USD FLOAT,
    Location NVARCHAR(50),
    Size NVARCHAR(10),
    Color NVARCHAR(20),
    Season NVARCHAR(20),
    Review_Rating FLOAT,
    Subscription_Status NVARCHAR(20),
    Shipping_Type NVARCHAR(50),
    Discount_Applied FLOAT,
    Promo_Code_Used NVARCHAR(50),
    Previous_Purchases INT,
    Payment_Method NVARCHAR(50),
    Frequency_of_Purchases INT
)
""")
conn.commit()

In [56]:
df.columns = (
    df.columns
    .str.strip()
    .str.replace(' ', '_', regex=False)
    .str.replace('(', '', regex=False)
    .str.replace(')', '', regex=False)
    .str.replace('-', '_', regex=False)
)

In [57]:
import pyodbc

conn = pyodbc.connect(
    "Driver={ODBC Driver 17 for SQL Server};"
    "Server=DESKTOP-DGR4VIC\\SQLEXPRESS;"  # replace with your server
    "Database=Customer_Shopping_Behavior;"  # your database
    "Trusted_Connection=yes;"
)
cursor = conn.cursor()

In [58]:
cursor.execute("IF OBJECT_ID('dbo.Customer', 'U') IS NOT NULL DROP TABLE dbo.Customer")
conn.commit()

In [59]:
# Map pandas dtypes to SQL Server types
dtype_map = {
    'int64': 'INT',
    'float64': 'FLOAT',
    'object': 'NVARCHAR(255)',
    'datetime64[ns]': 'DATE'
}

columns_with_types = []
for col in df.columns:
    col_type = dtype_map.get(str(df[col].dtype), 'NVARCHAR(255)')
    columns_with_types.append(f"[{col}] {col_type}")

columns_sql = ", ".join(columns_with_types)
create_table_sql = f"CREATE TABLE dbo.Customer ({columns_sql})"
cursor.execute(create_table_sql)
conn.commit()

In [61]:
df = df.where(pd.notnull(df), None)

In [63]:
# Replace NaN with None (SQL NULL)
df = df.where(pd.notnull(df), None)

# Convert all data to Python native types
for col in df.columns:
    if pd.api.types.is_integer_dtype(df[col]):
        df[col] = df[col].astype('Int64')  # nullable integer
    elif pd.api.types.is_float_dtype(df[col]):
        df[col] = df[col].astype(float)
    elif pd.api.types.is_object_dtype(df[col]):
        df[col] = df[col].astype(str)
    elif pd.api.types.is_datetime64_any_dtype(df[col]):
        df[col] = df[col].apply(lambda x: x.to_pydatetime() if x is not None else None)

In [64]:
df.columns = (
    df.columns
    .str.strip()
    .str.replace(' ', '_', regex=False)
    .str.replace('(', '', regex=False)
    .str.replace(')', '', regex=False)
    .str.replace('-', '_', regex=False)
)

In [66]:
# Find rows where Discount_Applied is invalid
df['Discount_Applied'] = pd.to_numeric(df['Discount_Applied'], errors='coerce')

# Check which rows are NaN (invalid numbers)
invalid_rows = df[df['Discount_Applied'].isna()]
print(invalid_rows)

      Customer_ID  Age  Gender Item_Purchased     Category  \
0               1   55    Male         Blouse     Clothing
1               2   19    Male        Sweater     Clothing
2               3   50    Male          Jeans     Clothing
3               4   21    Male        Sandals     Footwear
4               5   45    Male         Blouse     Clothing
...           ...  ...     ...            ...          ...
3895         3896   40  Female         Hoodie     Clothing
3896         3897   52  Female       Backpack  Accessories
3897         3898   46  Female           Belt  Accessories
3898         3899   44  Female          Shoes     Footwear
3899         3900   52  Female        Handbag  Accessories

      Purchase_Amount_USD       Location Size      Color  Season  \
0                      53       Kentucky    L       Gray  Winter
1                      64          Maine    L     Maroon  Winter
2                      73  Massachusetts    S     Maroon  Spring
3                      90   Rhode Island    M     Maroon  Spring
4                      49         Oregon    M  Turquoise  Spring
...                   ...            ...  ...        ...     ...
3895                   28       Virginia    L  Turquoise  Summer
3896                   49           Iowa    L      White  Spring
3897                   33     New Jersey    L      Green  Spring
3898                   77      Minnesota    S      Brown  Summer
3899                   81     California    M      Beige  Spring

      Review_Rating Subscription_Status   Shipping_Type  Discount_Applied  \
0               3.1                 Yes         Express               NaN
1               3.1                 Yes         Express               NaN
2               3.1                 Yes   Free Shipping               NaN
3               3.5                 Yes    Next Day Air               NaN
4               2.7                 Yes   Free Shipping               NaN
...             ...                 ...             ...               ...
3895            4.2                  No  2-Day Shipping               NaN
3896            4.5                  No    Store Pickup               NaN
3897            2.9                  No        Standard               NaN
3898            3.8                  No         Express               NaN
3899            3.1                  No    Store Pickup               NaN

     Promo_Code_Used  Previous_Purchases Payment_Method Frequency_of_Purchases
0                Yes                  14          Venmo            Fortnightly
1                Yes                   2           Cash            Fortnightly
2                Yes                  23    Credit Card                 Weekly
3                Yes                  49         PayPal                 Weekly
4                Yes                  31         PayPal               Annually
...              ...                 ...            ...                    ...
3895              No                  32          Venmo                 Weekly
3896              No                  41  Bank Transfer              Bi-Weekly
3897              No                  24          Venmo              Quarterly
3898              No                  24          Venmo                 Weekly
3899              No                  33          Venmo              Quarterly

[3900 rows x 18 columns]

In [67]:
# Replace NaN with None (SQL NULL)
df['Discount_Applied'] = df['Discount_Applied'].where(pd.notnull(df['Discount_Applied']), None)

In [71]:
import pandas as pd
import numpy as np

# Load CSV
df = pd.read_csv("Customer_Shopping_Behavior.csv")

# Clean column names for SQL
df.columns = (
    df.columns
    .str.strip()
    .str.replace(' ', '_', regex=False)
    .str.replace('(', '', regex=False)
    .str.replace(')', '', regex=False)
    .str.replace('-', '_', regex=False)
)

# Replace NaN or invalid numeric values with None
for col in df.columns:
    if pd.api.types.is_numeric_dtype(df[col]):
        df[col] = pd.to_numeric(df[col], errors='coerce')  # invalid → NaN
        df[col] = df[col].where(pd.notnull(df[col]), None)  # NaN → None
    elif pd.api.types.is_datetime64_any_dtype(df[col]):
        df[col] = df[col].apply(lambda x: x.to_pydatetime() if pd.notnull(x) else None)
    else:  # object/string columns
        df[col] = df[col].astype(str).replace('nan', None)

In [73]:
import pyodbc

conn = pyodbc.connect(
    "Driver={ODBC Driver 17 for SQL Server};"
    "Server=DESKTOP-DGR4VIC\\SQLEXPRESS;"
    "Database=Customer_Shopping_Behavior;"
    "Trusted_Connection=yes;"
)
cursor = conn.cursor()
print("Connected successfully!")

Connected successfully!

In [74]:
import pandas as pd

# Load CSV
df = pd.read_csv("Customer_Shopping_Behavior.csv")

# Clean column names for SQL (remove spaces, parentheses, hyphens)
df.columns = (
    df.columns
    .str.strip()
    .str.replace(' ', '_', regex=False)
    .str.replace('(', '', regex=False)
    .str.replace(')', '', regex=False)
    .str.replace('-', '_', regex=False)
)

# Replace NaN with None so SQL Server can accept them as NULL
df = df.where(pd.notnull(df), None)

In [75]:
# Drop table if it exists
cursor.execute("IF OBJECT_ID('dbo.Customer', 'U') IS NOT NULL DROP TABLE dbo.Customer")
conn.commit()

# Map pandas dtypes to SQL Server types
dtype_map = {
    'int64': 'INT',
    'float64': 'FLOAT',
    'object': 'NVARCHAR(255)',
    'datetime64[ns]': 'DATE'
}

columns_with_types = []
for col in df.columns:
    col_type = dtype_map.get(str(df[col].dtype), 'NVARCHAR(255)')
    columns_with_types.append(f"[{col}] {col_type}")

# Create table
create_table_sql = f"CREATE TABLE dbo.Customer ({', '.join(columns_with_types)})"
cursor.execute(create_table_sql)
conn.commit()
print("Table created successfully!")

Table created successfully!

In [76]:
import numpy as np

for index, row in df.iterrows():
    placeholders = ", ".join(["?"] * len(df.columns))
    insert_sql = f"INSERT INTO dbo.Customer ({', '.join(df.columns)}) VALUES ({placeholders})"

    # Convert each value to Python-native types
    row_values = []
    for col in df.columns:
        val = row[col]
        if pd.isna(val):
            val = None
        elif isinstance(val, (np.integer, np.int64)):
            val = int(val)
        elif isinstance(val, (np.floating, np.float64)):
            val = float(val)
        elif isinstance(val, pd.Timestamp):
            val = val.to_pydatetime()
        row_values.append(val)

    cursor.execute(insert_sql, row_values)

conn.commit()
print("Data inserted successfully!")

Data inserted successfully!

In [77]:
cursor.execute("SELECT TOP 10 * FROM dbo.Customer")
rows = cursor.fetchall()
for r in rows:
    print(r)

(1, 55, 'Male', 'Blouse', 'Clothing', 53, 'Kentucky', 'L', 'Gray', 'Winter', 3.1, 'Yes', 'Express', 'Yes', 'Yes', 14, 'Venmo', 'Fortnightly')
(2, 19, 'Male', 'Sweater', 'Clothing', 64, 'Maine', 'L', 'Maroon', 'Winter', 3.1, 'Yes', 'Express', 'Yes', 'Yes', 2, 'Cash', 'Fortnightly')
(3, 50, 'Male', 'Jeans', 'Clothing', 73, 'Massachusetts', 'S', 'Maroon', 'Spring', 3.1, 'Yes', 'Free Shipping', 'Yes', 'Yes', 23, 'Credit Card', 'Weekly')
(4, 21, 'Male', 'Sandals', 'Footwear', 90, 'Rhode Island', 'M', 'Maroon', 'Spring', 3.5, 'Yes', 'Next Day Air', 'Yes', 'Yes', 49, 'PayPal', 'Weekly')
(5, 45, 'Male', 'Blouse', 'Clothing', 49, 'Oregon', 'M', 'Turquoise', 'Spring', 2.7, 'Yes', 'Free Shipping', 'Yes', 'Yes', 31, 'PayPal', 'Annually')
(6, 46, 'Male', 'Sneakers', 'Footwear', 20, 'Wyoming', 'M', 'White', 'Summer', 2.9, 'Yes', 'Standard', 'Yes', 'Yes', 14, 'Venmo', 'Weekly')
(7, 63, 'Male', 'Shirt', 'Clothing', 85, 'Montana', 'M', 'Gray', 'Fall', 3.2, 'Yes', 'Free Shipping', 'Yes', 'Yes', 49, 'Cash', 'Quarterly')
(8, 27, 'Male', 'Shorts', 'Clothing', 34, 'Louisiana', 'L', 'Charcoal', 'Winter', 3.2, 'Yes', 'Free Shipping', 'Yes', 'Yes', 19, 'Credit Card', 'Weekly')
(9, 26, 'Male', 'Coat', 'Outerwear', 97, 'West Virginia', 'L', 'Silver', 'Summer', 2.6, 'Yes', 'Express', 'Yes', 'Yes', 8, 'Venmo', 'Annually')
(10, 57, 'Male', 'Handbag', 'Accessories', 31, 'Missouri', 'M', 'Pink', 'Spring', 4.8, 'Yes', '2-Day Shipping', 'Yes', 'Yes', 4, 'Cash', 'Quarterly')

In [78]:
cursor.close()
conn.close()
print("Connection closed.")

Connection closed.

In [1]:
import os
os.getcwd()

'C:\\Users\\Admin\\Customer_shopping_behaviour.csv\\Customer_shopping_behavior'